Repository adcondev/poster: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-tests, go-mod-tidy

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -l
  - -w
  language: system
  pass_filenames: true

go-imports:
  name: Go Imports
  entry: goimports
  args:
  - -l
  - -w
  language: system
  pass_filenames: true

go-vet:
  name: Go Vet
  entry: go vet
  language: system
  pass_filenames: false

go-tests:
  name: Go Tests
  entry: go test
  args:
  - -race
  - -short
  - './pkg/... '
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

build(npm): update package name and dependencies for poster library
  package-lock.json
Due: none

fix(npm): update package name and dependencies for poster library (#94)
  package-lock.json
Due: none

fix(npm): restore package version from null to 4.3.0
  .versionrc.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): null [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix(npm): restore package version from null to 4.3.0
  .versionrc.js
  CHANGELOG.md
  package.json
Due: none

fix(github): update release configuration and changelog formatting
  .github/workflows/release.yml
  .versionrc.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(go.mod): update module path to include version v4
  go.mod
Due: go-mod-tidy

fix(go.mod): remove version suffix from module path
  go.mod
Due: go-mod-tidy

fix(Taskfile): update golangci-lint command to use absolute path
  Taskfile.yml
Due: none

feat(schema): add PulseCommand and BeepCommand to document schema
  api/v1/DOCUMENT_V1.md
  api/v1/document.schema.json
Due: none

feat(connection): implement printer enumeration and details for Windows
  pkg/connection/printer_info.go
  pkg/connection/printer_info_stub.go
  pkg/connection/windows_enum.go
  pkg/connection/windows_enum_stub.go
Due: go-fmt, go-imports, go-vet, go-tests

refactor(poster): optimize command buffer allocation and improve readability
  pkg/commands/barcode/barcode.go
  pkg/commands/bitimage/bitimage_commands.go
  pkg/commands/bitimage/bitimage_integration_test.go
  pkg/commands/bitimage/download_graphics_commands.go
  pkg/commands/bitimage/download_graphics_integration_test.go
  pkg/commands/bitimage/graphics_commands.go
  pkg/commands/bitimage/graphics_integration_test.go
  pkg/commands/bitimage/nv_graphics_commands.go
  pkg/commands/bitimage/nv_graphics_integration_test.go
  pkg/commands/character/character_integration_test.go
  pkg/commands/character/code_conversion_integration_test.go
  pkg/commands/character/effects_integration_test.go
  pkg/commands/character/user_defined_integration_test.go
  pkg/commands/printposition/print_position_commands.go
  pkg/commands/printposition/print_position_integration_test.go
  pkg/commands/qrcode/qr_code_commands.go
  pkg/connection/printer_info.go
  pkg/connection/windows_enum.go
  pkg/document/executor/handler_executor_test.go
  pkg/emulator/render_image_test.go
  pkg/graphics/graph_engine_test.go
Due: go-fmt, go-imports, go-vet, go-tests

feat(connection): enhance printer listing functionality for Windows
  cmd/poster/main.go
  cmd/poster/printing.go
  cmd/poster/printing_stub.go
  pkg/connection/windows_connector.go
  pkg/connection/windows_enum.go
Due: go-fmt, go-imports, go-vet, go-tests

refactor(linters): improve golangci-lint configuration for better analysis
  .golangci.yml
  cmd/poster/printing_stub.go
  pkg/commands/shared/constants.go
  pkg/connection/printer_info_stub.go
  pkg/document/builder/command_builder_test.go
  pkg/document/schema/schema_test.go
Due: go-fmt, go-imports, go-vet, go-tests

fix(github): update release workflow and improve changelog management
  .github/workflows/release.yml
  .golangci.yml
  .versionrc.js
  CHANGELOG.md
  cmd/poster/main.go
  cmd/poster/parsing.go
  cmd/poster/printing.go
  package.json
  pkg/commands/shared/doc.go
  pkg/connection/windows_enum.go
Due: go-fmt, go-imports, go-vet, go-tests

chore(release): v4.4.0 [skip ci]
  CHANGELOG.md
Due: none

ci(github): add self-healing version sync to release workflow [skip ci]
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

ci(gh-actions): update release workflow for improved version synchronization [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): switch to manual release strategy to fix null error [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): filter tags strictly to avoid vnull errors [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): add gh-release action to fix missing ui release [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): restore app token to bypass protection rules [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): add smart sync to prevent non-fast-forward errors [skip ci]
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

ci(github): update release workflow for versioning and changelog generation [skip ci]
  .github/workflows/release.yml
Due: none

ci(release): definitive workflow synchronization [skip ci]
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: implement foolproof release workflow
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

fix(qrcode): adjust pixel width handling for QR code generation
  .github/codeql/codeql-config.yml
  .gitignore
  pkg/graphics/qr.go
  pkg/service/printer_service.go
Due: go-fmt, go-imports, go-vet, go-tests

fix(qrcode): update QR options and constants for improved handling
  pkg/constants/constants.go
  pkg/constants/defaults.go
  pkg/document/executor/qr_handler.go
  pkg/graphics/qr.go
  pkg/service/printer_interface.go
  pkg/service/printer_mock.go
  pkg/service/printer_service.go
Due: go-fmt, go-imports, go-vet, go-tests

fix(qrcode): update default QR options for pixel width and error correction level
  CHANGELOG.md
  api/v1/DOCUMENT_V1.md
  api/v1/document.schema.json
  pkg/document/executor/qr_handler.go
  pkg/service/printer_service.go
Due: go-fmt, go-imports, go-vet, go-tests

fix(graphics): cap image height to prevent DoS via excessive memory allocation
  pkg/graphics/processing.go
  pkg/graphics/processing_security_test.go
Due: go-fmt, go-imports, go-vet, go-tests

fix(security): prevent DoS in JSON loading by enforcing size limit
  cmd/poster/parsing.go
  cmd/poster/parsing_test.go
  pkg/constants/constants.go
Due: go-fmt, go-imports, go-vet, go-tests

perf(graphics): optimize Atkinson dithering with 1D slice and add test
  pkg/graphics/graph_engine.go
  pkg/graphics/graph_engine_test.go
Due: go-fmt, go-imports, go-vet, go-tests

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  go-tests: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
